@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --black: #6d6c6e;
  --dark: #484749;
  --white: #fdfbf7;
  --line: #d1cebf;
  --light: #f3f1eb;
  --bgDark: #eae7db;
  --primary: #e36166;
}

body {
  background-color: var(--bgDark);
}
/* Top Search Bar */
.topBar {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--bgDark);
  gap: 0.5rem;
}
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.searchBar span {
  font-size: 1.5rem;
  color: var(--black);
  font-weight: 300;
}
.searchBar input {
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 300;
  width: 100%;
  color: var(--black);
}
.searchBar input:focus {
  outline: none;
}
.infoBox {
  width: 3rem;
  height: 3rem;
  background-color: var(--light);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  flex-grow: 0;
  flex-shrink: 0;
  text-decoration: none;
}
.infoBox span {
  font-weight: 300;
  color: var(--black);
  font-size: 1.5rem;
}
.infoBox:hover {
  cursor: pointer;
}
.cogBar {
  position: fixed;
  width: 18rem;
  height: 4rem;
  left: calc(50% - 9rem);
  bottom: 1rem;
  background-color: var(--white);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.cog-item {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--white); */
  transition: all 0.5s;
  user-select: none;
}
.cog-item span {
  color: var(--black);
  transition: all 0.5s;
}
.cog-item:hover {
  background-color: var(--primary);
  cursor: pointer;
  transition: all 0.5s;
}
.cog-item:hover span {
  color: var(--white);
  transition: all 0.5s;
}

/* Small Screen Navbar */

.smallNav {
  position: fixed;
  z-index: 1000000;
  width: 18rem;
  height: 4rem;
  left: calc(50% - 9rem);
  bottom: 1.5rem;
  background-color: var(--white);
  border-radius: 3rem;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.sm-item {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  user-select: none;
  text-decoration: none;
}
.sm-item span {
  color: var(--black);
  font-weight: 300;
  transition: all 0.5s;
}
.sm-item:hover {
  background-color: var(--primary);
  cursor: pointer;
  transition: all 0.5s;
}
.sm-item:hover span {
  color: var(--white);
  transition: all 0.5s;
}
.saved {
  background-color: var(--primary);
}
.saved span {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 48;
  color: var(--white);
}
@keyframes jumpIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 768px) {
  .smallNav {
    display: flex;
  }
  .infoBox {
    width: 2.5rem;
    height: 2.5rem;
  }
  .infoBox span {
    font-size: 1.2rem;
  }
  .searchBar input {
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
  }
}
